#About {
  width: 100%;
  padding-bottom: 6rem;
  background: var(--almostWhite);
  position: relative;
  z-index: 10;
}

.AboutCard {
  max-width: 500px;
  height: 400px;
  position: relative;
  top: -30px;
  left: 50%;
  background: var(--white);
  box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}

.AboutCardCont {
  width: 275px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.AboutCardCont h1 {
  font-family: var(--roboto);
}

.AboutCardCont h1:first-child {
  margin-bottom: 1.5rem;
}

.AboutCardCont h1:last-child {
  color: var(--gold);
}

.AboutMe {
  max-width: 400px;
  position: relative;
  top: 3rem;
  left: 7%;
  font-family: var(--montserrat);
  font-size: 1.25rem;
  line-height: 2.5rem;
}

.Services {
  width: 80%;
  margin: 0 auto;
  padding-top: 10rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-column-gap: 40px;
  text-align: center;
}

.Services h2 {
  font-family: var(--roboto);
  margin: 2rem 0;
}

.Services img {
  width: 200px;
  margin: 0 auto;
}

.Services p {
  font-family: var(--montserrat);
  font-size: 1.25rem;
  line-height: 2.5rem;
}

.webAppIcon {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.webAppTitle {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.webAppDesc {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.frontEndDevIcon {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.frontEndDevTitle {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.frontEndDevDesc {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

@media only screen and (max-width: 1075px) {
  .AboutCard {
    transform: translateX(-50%);
  }
  .AboutMe {
    left: 50%;
    transform: translateX(-50%);
    max-width: 70%;
    text-align: center;
  }
}

@media only screen and (max-width: 900px) {
  .Services {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    width: 70%;
  }

  .Services h2 {
    margin: 1rem 0;
  }

  .webAppIcon {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  
  .webAppTitle {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  
  .webAppDesc {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    margin-bottom: 6rem;
  }
  
  .frontEndDevIcon {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }
  
  .frontEndDevTitle {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
  }
  
  .frontEndDevDesc {
    grid-column: 1 / 2;
    grid-row: 6 / 7;
  }
  
}

@media only screen and (max-width: 650px) {
  .AboutCard {
    max-width: 300px;
    height: 200px;
  }

  .AboutCardCont {
    width: 205px;
  }

  .AboutCardCont h1 {
    font-size: 1.5rem;
  }

  .AboutMe {
    max-width: 80%;
  }

  .AboutMe p {
    font-size: 1rem;
  }

  .Services {
    width: 80%;
  }

  .Services p {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 500px) {
  .AboutMe {
    max-width: 90%;
  }
}

@media only screen and (max-width: 400px) {
  .AboutCard {
    max-width: 250px;
  }

  .AboutCardCont {
    width: 170px;
  }

  .AboutCardCont h1 {
    font-size: 1.25rem;
  }

  .Services h2 {
    font-size: 1.25rem;
  }
}